.login-form {
  width: 440px;
  margin: 50px auto;
  font-size: 15px;
}
.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
}
.login-form h2 {
  margin: 0 0 15px;
}

body {
  background-color: #eee;
  font-family: "Source Sans Pro", sans-serif;
}

* {
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 75%;
  max-width: 75%;
  background: #d3d0cb;
  color: #fff;
  transition: all 0.3s;
  height: 100vh;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #5a82ae;
}

.nav-link.active {
  color: #e60028;
}

.new-user:hover,
.new-project:hover,
.new-task:hover {
  color: #e60028;
}
